<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sag-SMGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sag-SMGO</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="centered-wrapper">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="Rut" label-placement="floating" fill="outline" placeholder="Ingrese su Rut" [(ngModel)]="username"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button mode="ios" shape="round" size="default" (click)="guardarusuario()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>